.Post {
    min-height: 88px;
    height: 96px;
    /* background-color: rgb(52, 50, 50); */
    /* margin: 32px 0; */
    border-bottom: 1px solid rgb(247, 249, 249);
    cursor: pointer;
}

.PostContent {
    padding: 8px 24px;
    height: 100%;
    width: 100%;
}

/* .PostContent:hover {
    background-color: rgb(247, 249, 249);
    transition: all .3s ease-in-out;

} */

.Fill {
    height: 124px;
    /* background-color: blue; */
}